@model DWP2.Models.Inventories

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inventories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PRODUCT_ID" class="control-label">PRODUCT NAME</label>
                <select asp-for="PRODUCT_ID" class ="form-control" asp-items="ViewBag.PRODUCT_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="WAREHOUSE_ID" class="control-label">WAREHOUSE NAME</label>
                <select asp-for="WAREHOUSE_ID" class ="form-control" asp-items="ViewBag.WAREHOUSE_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="QUANTITY" class="control-label"></label>
                <input asp-for="QUANTITY" class="form-control" />
                <span asp-validation-for="QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
