<footer class="main-footer" style="position: fixed; bottom: 0; width: 100%;">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2024 <a href="https://utt.edu.mx">UTT</a>.</strong> Nadia Salazar

</footer>